@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-blob {
  animation: blob 7s infinite;
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.animate-bounce-slow {
  animation: bounce-slow 3s infinite;
}

.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}

.animate-ping-slow {
  animation: ping-slow 3s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: currentcolor;
  }
}

@layer utilities {
  .testimonial-01 .swiper-pagination-bullet {
    border-radius: 9999px;
    background-color: #d1d5db;
    opacity: 1;
    height: 12px;
    width: 12px;
  }
  .testimonial-01 .swiper-pagination-bullet-active {
    border-radius: 9999px;
    background-color: #f97316;
    width: 24px;
  }

  .testimonial-01 .swiper-pagination {
    position: relative;
    padding-top: 50px;
  }

  #supportCheckbox:checked ~ div span {
    opacity: 1;
  }
}

@layer base {
  body {
    position: relative;
    z-index: 1;
    font-family: system-ui, -apple-system, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #374151;
  }
  
  body.dark {
    color: #d1d5db;
  }
}

.active-tab {
  background-color: #e5e7eb;
  color: black;
}

.dark .active-tab {
  background-color: #374151;
  color: white;
}
